<header id="mainHeader">
    <div class="header-content">
        <div class="logo-section">
            <div class="logo">
                <img src="../img/RYSS_Logo.png" alt="RYSS APCNF Logo" class="logo-img">
            </div>
            <div class="brand-text">
                <h1>APCNF-RySS Traceability</h1>
                <p>Admin Portal</p>
            </div>
        </div>
        <nav>
            <ul class="admin-nav-menu">
                <li><a href="admin-approvals.html" class="admin-nav-link"><i class="fa-solid fa-user-check"></i> User Approvals</a></li>
                <li><a href="admin-catchment.html" class="admin-nav-link"><i class="fa-solid fa-map-location-dot"></i> Catchment Requests</a></li>
                <li><a href="admin-crops.html" class="admin-nav-link"><i class="fa-solid fa-seedling"></i> Crop Management</a></li>
                
                <li><a href="apcnf.html" class="admin-nav-logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
            </ul>
        </nav>
    </div>
</header>