<header id="mainHeader">
    <div class="header-content">
        <div class="logo-section">
            <div class="logo">
                <img src="../img/RYSS_Logo.png" alt="RYSS APCNF Logo" class="logo-img">
            </div>
            <div class="brand-text">
                <h1>APCNF-RySS Traceability</h1>
                <p>Aggregator Dashboard</p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="dashboard.html"><i class="fa-solid fa-table-columns"></i> Dashboard</a></li>
                <li><a href="catchment-area.html"><i class="fa-solid fa-map-location-dot"></i> Catchment Area</a></li>
                <li><a href="mybatch.html"><i class="fa-solid fa-boxes-stacked"></i> My Batches</a></li>
                <li><a href="buying-interest.html"><i class="fa-solid fa-hand-holding-dollar"></i> Interests</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#"><i class="fa-solid fa-user-circle"></i> Aggregator</a>
                    <div class="dropdown-menu">
                        <a href="profile.html"><i class="fa-solid fa-id-card"></i> View Profile</a>
                        <a href="apcnf.html" class="logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
</header>